<div class="main main-index">
  <div class= "p-5">
    <h1 class="index-heading mb-5">Explore the possibilities</h1>

    <h1 class="mb-4"><%= "Search results for: #{params[:name][:name]} Musician Services" %></h1>
    <%= render 'services' %>

  </div>
</div>
