<div class= "container p-5">
  <h1 class="index-heading mb-5">Ready for the event of your life?</h1>

  <h4 class="index-subheading mb-4"><%= "Search results for: #{params[:name][:name]} musician services" %></h4>
  <%= render 'services' %>

</div>
