<div class="main main-index">
  <div class="p-5">
    <h1>Get inspired</h1>

    <h2>Search results for: <span class='light'><%= "#{params[:name][:name]} Musician Services"%></span></h2>
    <%= render 'services' %>
  </div>
</div>
