// Specific CSS for your home-page
.hero-button {
  width: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.hero-button:hover {
  background-position: 0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  background: rgba(255, 255, 255, 0.418);
}

.hero {
  height: 100vh;
}

.hero-section {
  width: 600px;
  text-align: left;
  margin-bottom: 10%;

  h1 {
  font-family: $headers-font;
  }

  h2 {
    font-family: $body-font;
    font-weight: 400;
  }
}
