// Import page-specific CSS files here.
@import "home";
@import "services";

body {
  background-color: #DD4003;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

a {
  color: #000;
  font-family: 'Noto Sans', sans-serif;
}

a:hover {
  text-decoration: none;
  color: #000;
}
