// Import page-specific CSS files here.
@import "home";
@import "services";

body {
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(247,87,0,1) 0%, rgba(249,0,0,1) 90.1% );
}

h1, h2, h3, h4, a, ul, li {
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}
