.service-show {
  text-align: center;
  h4 {
    padding: 15px 0;
  }

  a {
    padding: 10px 120px;
    margin: 0 15px;
  }

  img {
    height: 45vh;
    border-radius: 20px;
  }
}

.service-img {
  padding-bottom: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid $w;
}

#service-show {
  display: flex;
  justify-content: center;
  text-align: center;
}

.service-details {
text-align: center;

h4 {
    font-size: 1em;
  }
}

#demo-video {
  height: 40vh;
}
