<div class="grid">
  <% @artist_bookings.each do |booking|%>
    <div class="grid-item">
      <% if booking.service.photo.attached?  %>
        <%= cl_image_tag booking.service.photo.key %>
      <% else %>
        <img alt="image" src="https://images.unsplash.com/photo-1567361672830-f7aa558ec4e3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80">
      <% end %>
      <div class="service-grid-info">
        <%= link_to booking.service.name, booking_path(booking), class: 'text-bold' %>
        <%= "#{booking.num_songs} songs" %>
      </div>
      <%= "#{booking.booking_date.strftime('%a %d %b %Y')}" %>
      <div class="edit-service-button"><a href="" class="edit-service-link">Edit Booking (Coming soon)</a></div>
    </div>
  <% end %>
</div>
