<nav class="ml-5">
  <ol class="list-inline">
    <li class="breadcrumb-item list-inline-item"><a href="/">Home</a></li>
    <% @breadcrumbs.each do |breadcrumb| %>
      <% if breadcrumb[:path].nil? %>
        <li class="breadcrumb-item list-inline-item active" aria-current="page">
          <%= breadcrumb[:label] %>
        </li>
      <% else %>
        <li class="breadcrumb-item list-inline-item">
          <%= link_to breadcrumb[:label], breadcrumb[:path] %>
        </li>
      <% end %>
    <% end %>
  </ol>
</nav>

<%# aria-label="breadcrumb" aria-current="page"%>
