<div class="main align-items-center d-flex" id="hero">
  <div class="hero-content container w-100 align-items-center text-center">

    <div class="hero-section justify-content-center">
      <h1 class="display-1 fw-bold">Live Music, On Demand</h1>
      <h2 class="display-5">Find and hire the best local musicians for your next event</h2>
    </div>

      <div class="justify-content-around hero-buttons d-flex">
        <% unless user_signed_in? %>
          <%= link_to "Log in", new_user_session_path, class: 'hero-button text-uppercase m-3 p-3 w-50 rounded-pill' %>
         <%= link_to "Sign up", new_user_registration_path, class: 'hero-button text-uppercase m-3 p-3 w-50 rounded-pill' %>
          <% else %>
            <% if user_signed_in? && current_user.user_type == 'Event host' %>
              <%= render 'event_host_genres_form' %>
            <% else %>
              <%= render 'artist_genres_form' %>
            <% end %>
        <% end %>
      </div>
  </div>
</div>
